// 斷點.
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

// 上半部 card 背景圖片高度高度.
$card-height-1: 17.5rem;
$card-height-2: 25rem;
$card-height-3: 35rem;

// 顏色.
$background-facebook: #5d82d1;
$background-youtube: #ff0000;
